ENVIRONMENT=config.settings.local
DJANGO_SECRET_KEY=
CLIENT_ID_GITHUB=
CLIENT_SECRET_GITHUB=
CLIENT_ID_GITLAB=
CLIENT_SECRET_GITLAB=
MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=
MAILGUN_API_URL=https://api.mailgun.net/v3
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
DJANGO_DEFAULT_FROM_EMAIL=noreply@devurl
