{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <section class="section">
    <div class="columns container-fluid">
      <div class="col-md-12 offset-md-2">
        <h4 class="has-text-centered"><strong>Edit Profile</strong></h4>
        <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
          {% csrf_token %}
          
          <div class="tab-content mt-6">
            <div class="tab-pane active" id="common" role="tabpanel">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="required form-label" for="id_name">Name</label>
                    <input type="text" name="name" id="id_name" class="form-control form-control-sm"required="" autofocus="" value="{{user.name}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <button class="btn btn-primary btn-sm" type="submit">Save</button>
            </div>
          </div>
        </form>
      </div>
    <div>
  </section>
{% endblock %}
