{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          {% if object.name %}
            <h6>Name: {{ object.name}}</h6>
            <h6>Username: {{ object.username }}</h6>
          {% else %}
            <h6>Username: {{ object.username }}</h6>
          {% endif %}
      </div>
    </div>

  {% if object == request.user %}
  <div class="row">
    <div class="col-sm-12">
      <a class="btn btn-primary btn-sm" href="{% url 'users:update' %}" role="button">My Info</a>
      <a class="btn btn-primary btn-sm" href="{% url 'account_email' %}" role="button">E-Mail</a>
    </div>
  </div>
</section>
{% endif %}

</div>
{% endblock content %}
