{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<section class="section">
  <h4 class="text-center">
      A web-based test case management solution to manage, track, and organize your software testing activities.
  </h4>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-white bg-primary bg-gradient mb-4">
          <h5 class="card-header text-center">Central Test Management</h5>
          <div class="card-body">
            <p class="card-text text-center">Manage, organize and track your testing in a collaborative platform.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-white bg-success bg-gradient mb-4">
          <h5 class="card-header text-center">Easy Test Tracking</h5>
          <div class="card-body">
            <p class="card-text text-center">Easily start test runs and select test cases based on powerful filters.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-white bg-secondary  bg-gradient mb-4">
          <h5 class="card-header text-center">Optimized Productivity</h5>
          <div class="card-body">
            <p class="card-text text-center">Get more done with a beautiful user interface and optimized navigation.</p>
          </div>
        </div>
      </div>
    </div>

  <hr>
  <div class="container">
    <p>
      Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
    </p>
    <p>
      RattleTest is a web application that is installed directly on your web or application server. It uses a database (PostgreSQL or MySQL) to store the application data and requires a working Python environment to run.</p>
  </div>
</section>
{% endblock %}
