{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}

{% block content %}

<section class="section container">
  <div class="style_header">
    <h4 class="style_title small">Projects<span class="style_statistic"></h4>
  </div>
  <div class="style_root">
    <div class="d-flex">
      <div class="d-flex style_buttons">
        <a id="create-suite-button" class="btn me-2 btn-success btn-xs" href="{% url 'new_project' %}">
          <i class="fa fa-plus"></i> Project
        </a>
      </div>
      <div class="filters-block">
        <div class="filters-block-items">
          <div class="form-inline case-search case-search-input me-4">
            <input type="text" name="title" class="form-control search-input" placeholder="Search for project" value="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table projects-table mt-3" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th class="sortable">Project name</th>
        <th class="sortable hidden-xs">Unresolved defects</th>
        <th class="sortable hidden-xs">Test runs</th>
        <th class="sortable hidden-xs">Milestones</th>
        <th class="sortable hidden-xs">Owner</th>
        <th class="hidden-xs">Team members</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for project in object_list %}
        <tr class="project-row" id="project-row">
          <td class="text-center project-icon"><a class="project-name" href="{% url 'modules' project.id %}"><img
                src="https://source.unsplash.com/40x40/?texture"
                alt=""></a></td>
          <td>
            <div><a class="project-title" href="{% url 'modules' project.id %}">{{ project.name }}</a></div>
            <div>
              <span class="project-cases">
                {% with mod_total=project.modules.count %}
                    {{ mod_total }} module{{ mod_total|pluralize }}
                {% endwith %}
                |
                {% with tc_total=project.testcases.count %}
                  {{ tc_total }} testcase{{ tc_total|pluralize }}
                {% endwith %}
                | No active runs
              </span>
            </div>
          </td>
          <td class="hidden-xs"><i class="green fa fa-check"></i> No open defects</td>
          <td class="hidden-xs">No test runs</td>
          <td class="hidden-xs">No milestones</td>
          <td class="hidden-xs">
            <a class="project-name" href="{% url 'users:detail' project.owner.username %}">
              {% if project.owner.avatar %}
                <img alt="{{ project.owner.username }}" title="{{ project.owner.username }}" class="avatar-xs me-1" src="{{ project.owner.avatar.url }}">
              {% else %}
                <img alt="{{ project.owner.username }}" title="{{ project.owner.username }}" class="avatar-xs me-1" src="{% static 'images/default_avatar.jpg' %}">
              {% endif %}
            </a>
          </td>
          <td class="hidden-xs">
            {% for member in project.members.all %}
              <a class="project-name" href="{% url 'users:detail' member.username %}">
                {% if member.avatar %}
                  <img alt="{{ member.username }}" title="{{ member.username }}" class="avatar-xs me-1" src="{{ member.avatar.url }}">
                {% else %}
                  <img alt="{{ member.username }}" title="{{ member.username }}" class="avatar-xs me-1" src="{% static 'images/default_avatar.jpg' %}">
                {% endif %}
              </a>
            {% endfor %}
          </td>
          {% if request.user.id == project.owner.id %}
            <td class="text-end">
              <div class="dropdown">
                <a class="btn btn-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                  <i class="fa fa-ellipsis-h"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-end">
                  <div class="dropdown-item"><a href="{% url 'project_edit' project.id %}">Edit</a></div>

                  <div class="dropdown-item">
                    <a class="delete-icon" id="{{project.id}}" onclick='deleteProject({{ project.id }})''>Delete</a>
                  <!-- <a class="text-danger" href="{% url 'project_delete' project.id %}">Delete</a></div> -->
                </div>
              </div>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}

{% block inline_javascript %}
<script>
  function deleteProject(id) {
      let action = confirm('Are you sure you want to delete this project?');

      let url = '/project/' + id + '/delete/';
      if (action != false) {
          $.ajax({
              method: 'POST',
              url: url,
              dataType: 'json',
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
              },
              success: function (data) {
                console.log(data["status"])
                console.log(data["message"])
                if (data["status"] === "success") {
                  $('#project-row').remove()
                  document.getElementById("section").innerHTML +=
                  '<div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">' + data["message"] +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>'
                    setTimeout(5000)
                }
                else if (data["status"] === "fail") {
                  console.log("I am coming in fail")
                  console.log(data["message"])
                  document.getElementById("section").innerHTML +=
                  '<div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">' + data["message"] +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>'
                    setTimeout(5000)
                }
              },
          });
      }
  }

</script>
{% endblock %}
