{% extends 'base.html' %}
{% block title %}Create Testcase{% endblock %}

{% block content %}
  <section class="section">
    <div class="columns container-fluid">
      <div class="col-md-12 offset-md-1">
        <h4 class="has-text-centered"><strong>{% if object.title is None %} New Test Case {% else %} Edit {{ object.title }} {% endif %}</strong></h4>
        <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="tab-content mt-6">
                <div class="tab-pane active" id="common" role="tabpanel">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="form-group">
                        <label class="required form-label" for="id_title">Test Case Title</label>
                        <input type="text" name="title" id="id_title" class="form-control form-control-sm" placeholder="For example: Authorization" required="" autofocus="" value="{{object.title}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10">
                      <div class="form-group">
                        <label class="id_description form-label">Description</label>
                        <textarea class="form-control form-control-sm" name="description" id="id_description" rows="2" placeholder="Write a few sentences about your project">{{object.description}}</textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="required form-label" for="id_project">Project</label>
                        <select class="form-select form-select-sm form-control form-control-sm" name="project" id="id_project" aria-label=".form-select-sm example">
                            <option value ="{{ object.project.id }}" selected>{{ object.project.name }}</option>
                            {% for item in projects %}
                            <option value="{{ item.id }}" {% if item.id == project.id %} selected {% endif %} >{{ item.name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="required form-label" for="id_module">Module</label>
                        <select class="form-select form-select-sm form-control form-control-sm" name="module" id="id_module" aria-label=".form-select-sm example">
                          {% for item in modules %}
                            <option value="{{ item.id }}" {% if item.id == module.id %} selected {% endif %}>{{ item.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="required form-label" for="id_status">Status</label>
                        <select class="form-select form-select-sm form-control form-control-sm" name="status" id="id_status" aria-label=".form-select-sm example">
                            {% for a in form.status %}
                              {{a}}
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="required form-label" for="id_testcase_type">Test Case Type</label>
                        <select class="form-select form-select-sm form-control form-control-sm" name="testcase_type" id="id_testcase_type" aria-label=".form-select-sm example">
                            {% for a in form.testcase_type %}
                              {{value}}
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="required form-label" for="id_severity">Severity</label>
                        <select class="form-select form-select-sm form-control form-control-sm" name="severity" id="id_severity" aria-label=".form-select-sm example">
                            {% for value in form.severity %}
                              {{ value }}
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="required form-label" for="id_priority">Priority</label>
                        <select class="form-select form-select-sm form-control form-control-sm" name="priority" id="id_priority" aria-label=".form-select-sm example">
                            {% for value in form.priority %}
                              {{ value }}
                            {% endfor %}
                        </select>
                      </div>
                    </div>

                  </div>
                <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="required form-label" for="id_pre_condition">Pre-Condition</label>
                        <input type="text" name="pre_condition" id="id_pre_condition" class="form-control form-control-sm" placeholder="Pre-Condition"autofocus="" value="{{object.pre_condition}}">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="required form-label" for="id_post_condition">Pre-Condition</label>
                        <input type="text" name="post_condition" id="id_post_condition" class="form-control form-control-sm" placeholder="Post-Condition"autofocus="" value="{{object.post_condition}}">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="mb-3">
                        <label for="id_attachment form-label" class="form-label">Attachment:  {% if object.attachment %}<a href="{{ object.attachment.url }}">{{ object.filename }}</a>{% endif %}</label>
                        <input type="file" name="attachment" id="id_attachment" class="form-control form-control-sm" >
                      </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-primary btn-sm" type="submit">
                    {% if "create" in request.path_info %}Save{% else %}Update{% endif %}
                    </button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </section>

{% endblock %}
